.list-container {
  border-radius: 0.7rem;
  -webkit-box-shadow: 0 2rem 2.8rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 2.8rem rgba(0, 0, 0, 0.2);
}

.list-box {
  height: 37rem;
  background-color: var(--color-todo-background);
  overflow-y: scroll;
  scrollbar-color: var(--color-todo-text-2);
  scrollbar-width: thin;
}

.list-box::-webkit-scrollbar {
  width: 0.5rem;
}

.list-box::-webkit-scrollbar-track {
  background: none;
  border-radius: 0.9rem;
}

.list-box::-webkit-scrollbar-thumb {
  background: var(--color-todo-text-2);
  border-radius: 0.9rem;
}

.item {
  border-bottom: 1px solid var(--color-todo-text-3);
}

.empty-text {
  font-size: 1.8rem;
  color: var(--color-todo-text-3);
  padding: 2.4rem;
}

.footer {
  background-color: var(--color-todo-background);
  margin-top: auto;
  padding: 1.6rem 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-left {
  font-size: 1.4rem;
  color: var(--color-todo-text-2);
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.4rem;
}

.btn-sort {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: var(--color-todo-text-2);
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-sort:hover {
  color: var(--color-todo-hover);
}

.btn-delete {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: var(--color-todo-text-2);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-delete:hover {
  color: var(--color-todo-hover);
}

.sort-active {
  color: #3a7bfd;
}
