@import "./variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  .dark-theme {
    --color-body-background: hsl(235, 21%, 11%);
    --color-todo-background: hsl(235, 24%, 19%);

    --color-todo-hover: hsl(236, 33%, 92%);
    --color-todo-text: hsl(234, 39%, 85%);
    --color-todo-text-2: hsl(234, 11%, 52%);
    --color-todo-text-3: hsl(233, 14%, 35%);
    --color-todo-text-4: hsl(237, 14%, 26%);
    --color-todo-logo: hsl(236, 33%, 92%);
  }

  .light-theme {
    --color-body-background: hsl(236, 33%, 92%);
    --color-todo-background: hsl(0, 0%, 98%);

    --color-todo-logo: hsl(0, 0%, 98%);

    --color-todo-text: hsl(235, 19%, 35%);
    --color-todo-text-2: hsl(236, 9%, 61%);
    --color-todo-text-3: hsl(233, 11%, 84%);
    --color-todo-text-4: hsl(236, 33%, 92%);

    --color-todo-hover: hsl(235, 19%, 35%);
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.container {
  min-height: 100vh;
  display: grid;
  align-items: center;
  // transition: color 0.2s;
  // transition: background-color 0.2s;
  transition: all 0.3s;

  background-color: var(--color-body-background);
}

.dark-theme {
  background-image: url(../assets/images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: 100% 28rem;
}

.light-theme {
  background-image: url(../assets/images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% 28rem;
}

.app {
  margin: 0 auto;
  width: 100%;
  max-width: 55rem;
}
