@import "./variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3.8rem;
  &__logo {
    font-size: 4rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-todo-logo);

    @include respond(phone) {
      font-size: 3.2rem;
    }

    @include respond(phone-min) {
      font-size: 2.8rem;
    }
  }

  &__theme-switch {
    fill: var(--color-todo-logo);
    transform: scale(1.1);
    cursor: pointer;

    @include respond(phone) {
      transform: scale(0.9);
    }

    @include respond(phone-min) {
      transform: scale(0.8);
    }
  }
}
