@import "./variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3.2rem;
  &__logo {
    font-size: 4rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-todo-logo);
  }

  &__theme-switch {
    fill: var(--color-todo-logo);
    transform: scale(1.1);
    cursor: pointer;
  }
}
