@import "./variables.scss";

.list-container {
  border-radius: 0.7rem;
  box-shadow: 0 2rem 2.8rem rgba(0, 0, 0, 0.056);
  position: relative;
}

.list-box {
  height: 37rem;
  background-color: var(--color-todo-background);
  overflow-y: scroll;
  scrollbar-color: var(--color-todo-text-2);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.5rem;
    // display: none;
  }

  &::-webkit-scrollbar-track {
    background: none;
    border-radius: 0.9rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-todo-text-2);
    border-radius: 0.9rem;
  }
}

.item {
  border-bottom: 1px solid var(--color-todo-text-3);
}

.empty-text {
  font-size: 1.8rem;
  color: var(--color-todo-text-3);
  padding: 2.4rem;
}

// FOOTER
.footer {
  background-color: var(--color-todo-background);
  margin-top: auto;
  padding: 1.6rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-left {
  font-size: 1.4rem;
  color: var(--color-todo-text-2);
}

.btn-group {
  display: flex;
  gap: 1.4rem;

  @include respond(phone) {
    justify-content: center;

    position: absolute;
    bottom: -8rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-todo-background);
    padding: 2rem;
    width: 100%;
    max-width: 55rem;
    border-radius: 0.7rem;
  }
}

.btn-sort {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: var(--color-todo-text-2);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: var(--color-todo-hover);
  }
}

.btn-delete {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: var(--color-todo-text-2);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: var(--color-todo-hover);
  }
}

.sort-active {
  color: $color-bright-blue;
}
