@import "./variables.scss";

.list-container {
  border-radius: 0.7rem;
}

.list-box {
  height: 37rem;
  background-color: $color-todo-background;
  overflow-y: scroll;
  scrollbar-color: $color-todo-text-2;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.5rem;
    // display: none;
  }

  &::-webkit-scrollbar-track {
    background: none;
    border-radius: 0.9rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-todo-text-2;
    border-radius: 0.9rem;
  }
}

.item {
  border-bottom: 1px solid $color-todo-text-3;
}

.empty-text {
  font-size: 1.8rem;
  color: $color-todo-text-3;
  padding: 2.4rem;
}

// FOOTER
.footer {
  background-color: $color-todo-background;
  margin-top: auto;
  padding: 1.6rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-left {
  font-size: 1.4rem;
  color: $color-todo-text-2;
}

.btn-group {
  display: flex;
  gap: 1.4rem;
}

.btn-sort {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: $color-todo-text-2;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: $color-todo-hover;
  }
}

.btn-delete {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: $color-todo-text-2;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: $color-todo-hover;
  }
}

.sort-active {
  color: $color-bright-blue;
}
