// primary

$color-bright-blue: hsl(220, 98%, 61%);
$color-gradient-1: hsl(192, 100%, 67%);
$color-gradient-2: hsl(280, 87%, 65%);

// MIXINS

@mixin respond($breakpoint) {
  // 900px
  @if $breakpoint == tab-pot {
    @media only screen and (max-width: 56.2em) {
      @content;
    }
  }

  // 550px
  @if $breakpoint == phone {
    @media only screen and (max-width: 34em) {
      @content;
    }
  }

  // 400 px
  @if $breakpoint == phone-min {
    @media only screen and (max-width: 25em) {
      @content;
    }
  }
}
